# WordPress API (Application Password)
WORDPRESS_API_URL=https://api.helvetiforma.ch/wp-json
WORDPRESS_APP_USER=gibivawa
WORDPRESS_APP_PASSWORD=pdJF ua00 Q17x 0dIz xggN oQI5

# Microsoft Graph API
MICROSOFT_CLIENT_ID=your-client-id
MICROSOFT_CLIENT_SECRET=your-client-secret
MICROSOFT_TENANT_ID=0c41c554-0d55-4550-8412-ba89c98481f0
MICROSOFT_REDIRECT_URI=https://helvetiforma.vercel.app/

# Supabase
SUPABASE_URL=qdylfeltqwvfhrnxjrek
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkeWxmZWx0cXd2ZmhybnhqcmVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY2NDUyNzAsImV4cCI6MjA3MjIyMTI3MH0.c2LLDSMyTO3cd5qe3HGZc2LW6F3hzM57bo4UCYU6XIY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkeWxmZWx0cXd2ZmhybnhqcmVrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjY0NTI3MCwiZXhwIjoyMDcyMjIxMjcwfQ.W-PILZleaGdetd_gJVLt-N9RONiEH_Kii4VKCGdKF7w

# TutorLMS Webhooks
TUTOR_API_URL=https://api.helvetiforma.ch
TUTOR_LICENSE_KEY=EC00F-9DF58-E44EC-E68BC-1757919356
TUTOR_CLIENT_ID=key_41b07de3d8e6e2d21df756ed2dff73ad
TUTOR_SECRET_KEY=secret_c59d6489d2bb179380853bed081688c8d2a86b9e471f34ec44660359597f127f